.testimonial {
   padding: 0 18px 1px 18px;
   background-color: rgba(255, 255, 255, .8);
   margin-bottom: 98px;

   @mixin atLarge {
     padding: 0 1.8125rem 1px 1.8125rem;
     margin-bottom: 0;
   }

   &--last {
      margin-bottom: 0;
   }

   &__photo {
      position: relative;
      top: -80px;
      overflow: hidden;
      margin: 0 auto;
      width: 160px;
      height: 160px;
      border: 6px solid rgba(255, 255, 255, .8);
      border-radius: 80px;
   }

   &__title {
      margin: 0;
      color: $mainBlue;
      text-align: center;
      font-weight: 500;
      font-size: 1.5rem;
   }

   &__subtitle {
      margin: .25rem 0 1rem;
      color: $mainOrange;
      text-align: center;
      font-weight: 400;
      font-size: 0.9375rem;
   }
}